*{
  
font-family: "Poppins", sans-serif;
        }
.banner{
    background-image: url(/images/leone-venter-VieM9BdZKFo-unsplash.jpg);
background-size: cover;
padding: 250px 0;
background-repeat: no-repeat;
}